* {
    box-sizing: border-box;
}

.grid-container {
    background-color: antiquewhite;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    display: grid;
    gap: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.item-2 {
    grid-column: 3;
    grid-row: 1 / 4;
}