* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.grid-container {
    background-color: rgb(192, 217, 223);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    padding: 10px;
    gap: 10px;
}

.grid-item {
    background-color: #b1a679;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3;
    grid-row: 1 / 4;
    gap:20px;
}